body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

h2{
    font-size: 48px;
    margin-bottom: 30px;
}

h5{
    margin-bottom: 0px;
}

p{
    font-size: 18px;
    color: black;
    line-height: 1.8;
    margin-bottom: 0; 
}

a i{
    font-size: 22px;
    color: #000000;
}

i:hover{
    color: #B90436;
}

section{
    padding: 120px 0;
}

.container-fluid{
    background-color: #497757;
}

.bg-light-grey{
    background-color: #0A244F;

}

.btn-dark{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

.full-width{
    width: 100%;
}

.topmargin-xs{
    margin-top: 15px;
}

.topmargin-sm{
    margin-top: 30px;
}

.topmargin-lg{
    margin-top: 60px;
}

.navbar{
    background-color: #0A244F;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .09);
    min-height: 100px;
}

.nav-link{
    color: #000000;
    font-size: 20px;
}

.nav-link:hover{
    color: #EBC90B;
}
.logo-brand{
    min-width: 100px;
    max-width: 100px;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}
#hero{
    background-image:url(../img/fondo.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

#hero p{
    color: #000000;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    color: #000000;
}

.portfolio{
    background-color: #497757;
}

.portfolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
   
    color: #ffffff;
}
.portfolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
 
}

.portfolio-container.img-fluid{
    height: 500px;
    width: 500px;
}

.portfolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2),

}

.portfolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;

}
.member-container{
    position: relative;
    margin: 10px 0;
}

.member-details{
    position: absolute;
    color: #000000;
    bottom: 0px;
    left: 20px;
}

.member-details span{
    font-size: 14px;
}


.member-details i{
    padding: 0 5px;
}

.container-paquete{
    margin: 15px 0;
}
.planes{
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.plan-light{
    background-color: #ffffff;
    border: 2px solid #000000;
}

.plan-dark{
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}

.planes h2{
    font-size: 70px;
    font-weight: 600;
}

.planes span{
    font-size: 20px ;
}

.planes ul{
    list-style-type: square;
}